<div class="flex justify-start gap-10">
  <div>
    <div class="g-big-circle"></div>
    <p class="text-a1 dark:text-a8 text-[0.7rem] mt-2 font-semibold">
      0xShapeShifter
    </p>

    <div class="w-full h-2 bg-a7 dark:bg-a3 rounded-sm mt-1"></div>
    <div class="flex justify-start mt-2 gap-1">
      <div class="g-small-circle"></div>
      <div class="g-small-circle"></div>
      <div class="g-small-circle"></div>
      <div class="g-small-circle"></div>
      <div class="g-small-circle"></div>
      <div class="g-small-circle"></div>
      <div class="g-small-circle"></div>
    </div>
  </div>
  <div class="text-a1 dark:text-a8">
    <p class="text-3xl mb-5">0xShapeShifter</p>
    <p class="text-xl mb-3">Front-end developer</p>
    <p class="text-base mb-6">
      ⤷ I help innovative companies building interfaces and experiences
    </p>
    <div class="text-sm">
      <p>⚐ Planet Earth</p>
      <p>ϟ Currently building a super cool project</p>
      <p>0xShapeShifter</p>
      <p>ϟ Recently won a lottery</p>
    </div>
  </div>
</div>
