<div class="flex flex-col gap-5">
    <p class="g-input">0xshapeShifter</p>
    <p class="g-input">Front-end developer and builder</p>
    <p class="g-input">I help innovative teams building interfaces and experiences</p>
    <p class="g-input">Planet Earth</p>
    <p class="g-input">Currently building a super cool thing</p>
    <p class="g-input">Recently won a lottery</p>
</div>