<p class="w-full text-a1 dark:text-a8 font-mono text-sm whitespace-pre-line break-before-all">
    # 0xShapeshifter #### Front-end developer ⤷ I help innovative companies
    building interfaces and experiences
    ---------------------------------------------------------- ⚐ Planet Earth ϟ
    Currently I am building my super cool project ϟ Recently Recently I won a
    lottery
</p>