<div class="relative w-fit h-fit mt-20 flex justify-center items-center">
  <div
    class="absolute h-[40px] w-[120px] bg-gradient-to-tl from-[#7B4397] to-[#DC2430] filter blur-xl animate-glow"
  >
  </div>
  <div class="relative">
    <slot />
  </div>
</div>
