---

---
<footer class="border-t border-a7 bg-a8 dark:border-a3 dark:bg-a1 dark:text-white">
    <ul class="flex justify-between">
        <li class="link"><a href="/">by 0xShapeShifter</a></li>
        <li class="link"><a href="/">Leave Feedback</a></li>
        <li class="link"><a href="/">GitHub</a></li>
    </ul>
</footer>