---

---
<footer class="border-t border-a7 bg-a8 dark:border-a3 dark:bg-a1 dark:text-white">
    <ul class="flex justify-between items-center">
        <li class="link"><a href="https://0xshapeshifter.vercel.app">by 0xShapeShifter</a></li>
        <li class="link"><a href="https://twitter.com/0x_shapeshifter">Leave Feedback</a></li>
        <li class="link"><a href="https://github.com/0xShapeShifter/readme-md">GitHub</a></li>
        <li class="hidden md:block"><a href="https://www.producthunt.com/posts/readme-dev?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-readme&#0045;dev" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=376487&theme=light" alt="ReadMe&#0045;Dev - A&#0032;great&#0032;GitHub&#0032;profile&#0032;description&#0032;is&#0032;just&#0032;a&#0032;copy&#0038;paste&#0032;away | Product Hunt" width="162" height="35" /></a></li>
    </ul>
</footer>