---
---
<nav>
    <ul class="flex w-full justify-between items-center">
        <li><a href="/" class="link">Home</a></li>
        <li><a href="/create" class="link">Create</a></li>
        <li><a href="https://github.com/0xShapeShifter/readme-md" class="link">Docs</a></li>
        <li class="hidden md:block "><a href="https://twitter.com/0x_shapeshifter" class="link">Leave Feedback</a></li>
        <li id="beta">beta</li>
    </ul>
</nav>