---
---
<nav>
    <ul class="flex w-full justify-between items-center">
        <li><a href="/" class="link">Home</a></li>
        <li><a href="/create" class="link">Create</a></li>
        <li><a href="/" class="link">Docs</a></li>
        <li><a href="/" class="link">Leave Feedback</a></li>
        <li id="beta">beta</li>
    </ul>
</nav>