---
import Link from "./Link.astro";
---
<nav class="border-b border-a7 bg-a8 dark:border-a3 dark:bg-a1 dark:text-white p-4">
    <ul class="flex w-full justify-between items-center">
        <li><Link url="/">Home</Link></li>
        <li><a href="https://www.producthunt.com/posts/readme-dev?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-readme&#0045;dev" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=376487&theme=light" alt="ReadMe&#0045;Dev - A&#0032;great&#0032;GitHub&#0032;profile&#0032;description&#0032;is&#0032;just&#0032;a&#0032;copy&#0038;paste&#0032;away | Product Hunt" width="162" height="35" /></a></li>
        <li class="px-6 py-0.5 rounded-full text-[#f5a623] text-[0.9rem] bg-[#f7b955]/20 border border-[#f5a623] tracking-normal font-normal animate-pulse m-1">beta</li>
    </ul>
</nav>