<div class="w-fit h-fit border border-a4 rounded-md">
  <div class="border-b border-a4 flex justify-start items-center p-3">
    <div class="w-4 aspect-square bg-[#ED6A5D] mr-3 rounded-full"></div>
    <div class="w-4 aspect-square bg-[#F5C04F] mr-3 rounded-full"></div>
    <div class="w-4 aspect-square bg-[#61C654] mr-3 rounded-full"></div>
  </div>
  <div class="p-8 flex justify-center items-center w-full h-fit m-auto">
    <slot />
  </div>
</div>
